.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
}

#title {
    font-size: 5rem;
    margin: 22px 0 22px 0;
}

.score, .best {
    position: relative;
    text-align: center;
    background: lightgray;
    color: white;
    padding: 8px 32px;
    border-radius: 8%;
}

.score h2, .best h2 {
    margin: 4px 0 4px 0;
    color: #828080;
}

.score div, .best div {
    font-size: 20px;
    font-weight: 600;
}

.best {
    margin-left: 12%;
}

.scoreAddition {
    position: absolute;
    top: -25px;
    left: 46px;
    color: #655e5e;
    animation: move-up 600ms ease-in;
}

@keyframes move-up {
    0% {
        top: 25px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}

